.close-button{
    float: right;
    top:-24px;
    right:-24px;
  }
.modal-body{
    padding-top: 0rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

    p {
        margin-bottom: 0.5rem;
    }
    h5 {
        margin-left: 0.5rem; 
    }
}
